*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html{
    font-family: sans-serif;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

/* utilities */
.hide{
    display: none;
}

/* general */
#spotify-app{
    height: 100vh;
    width: 100vw;
}

/* aside elements */
.container{
    display: flex; 
}

aside{
    background-color:#000000;
    height: calc(100vh - 81px);
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

}

aside > div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 5px;
}
aside div ul.utility-element .search,
aside div ul.utility-element .library{
    fill: gray;
}
.search:hover,
.search:hover svg,
.search:hover span,
.library:hover,
.library:hover svg,
.library:hover span,
.bottom-elements li:first-child:hover svg,
.bottom-elements li:first-child:hover span,
.bottom-elements li.profile:hover,
.bottom-elements li.profile:hover .user-icon{
    cursor: pointer;
    color: white;
    fill: white;
}

.user-icon{
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
}
.bottom-elements li.profile:hover .user-icon{
    background-color: rgb(162, 162, 162);
}

hr{
    border: 1px solid black;
    padding-block: 5px;
}

aside svg{
    width: 30px;
}

aside .download{
    width: 20px;
    fill: gray;
}

/* --------------------------------------------------------------- */

/* main elements */
main{
    background-color: #141922;
    width: 100%;
    margin-left: 60px;
    padding-top: 100px;
    padding-right: 10px;
    height: calc(100vh - 50px);
    padding-bottom: 55px;
    overflow: auto;
}

main .upgrade{
    background-color: #090B12;
    text-align: right;
    padding:35px 20px;

    position: fixed;
    top: 0;
    right: 0;
    left:60px;
}
main .upgrade a{
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 0.8rem;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}
main .upgrade a:hover{
    font-size: 0.9rem;
}

/* main nav */
main nav{
    padding-block: 20px;
}
main nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    row-gap: 40px;
}
main nav ul a{
    color: gray;
    font-size: 0.9rem;   
    font-weight: bold;    
}
main nav ul a.nav-selected-element{
    padding-bottom: 10px;
    background: linear-gradient(to right, #141922 20%, #ADFF2E 20%, #ADFF2E 75%, #141922 75%) bottom;
    background-repeat: no-repeat;
    background-size:100% 3px; 
}
main nav ul a:hover{
    color: white;

    padding-bottom: 10px;
    /* background:linear-gradient(to right, #141922 25%, #ADFF2E 50%, #141922 25%) bottom; */
    background: linear-gradient(to right, #141922 20%, #ADFF2E 20%, #ADFF2E 75%, #141922 75%) bottom;
    background-repeat: no-repeat;
    background-size:100% 3px; 
}

/* main content */
main .main-content .main-container{
    width: 95%;
    margin: 0 auto;
}
main .flex-cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

main .recently-played h2{
    padding-block: 30px;
}
h2{
    color: white;
}

main .flex-cards .card{
    width: calc((100% / 2) - (10px / 2));
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .flex-cards .card h3{
    font-weight: bold;
    color: white;
}
main h5{
    font-weight: bold;
    color: gray;
}

div.bg{
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.play-hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.most-popular .play-hover:hover,
.most-popular .play-hover{
    border-radius: 50%;
}
.play-hover:hover{
    opacity: 1;
    cursor: pointer;
}

main .head-row{
    padding-block:40px 25px;
}
main .head-row h2{
    padding-bottom:10px;
}

/* recently played bg */
div.metal{
    background-image: url(../img/metal_lifting.jpg);
}
div.stranger-things{
    background-image: url(../img/stranger.jpeg);
}
div.quiet-place{
    background-image: url(../img/aquietplace.jpeg);
}
div.split{
    background-image: url(../img/split.jpeg);
}
div.cure{
    background-image: url(../img/cure.jpeg);
}
div.sinister{
    background-image: url(../img/sinister.jpeg);
}

/* for you bg */
div.for-you-radar{
    background-image: url(../img/radar.jpeg);
}
div.daily-mix{
    background-image: url(../img/mixdaily.jpeg);
}

/* most popular artists bg */
div.lana-del-rey{
    background-image: url(../img/youg.jpeg);
    border-radius: 50%;
}
div.einaudi{
    background-image: url(../img/einaudi.jpeg);
    border-radius: 50%;
}



/* --------------------------------------------------------------- */

/* footer elements */

footer{
    color: white;
    background-color: #282828;
    padding:10px 5px;
    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
footer h6{
    color: gray;
}
footer h6:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
footer svg{
    fill: white;
}
footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* left player elements */
footer .footer-container .left-player{
    width: 25%;
    display: flex;
    gap: 10px;
    align-items: center;
}
footer .footer-container .left-player .current-song-img img{
    width: 40px;
}

footer .footer-container .left-player .left-player-icons svg{
    fill: gray;
}
footer .footer-container .left-player .left-player-icons svg:hover{
    fill: white;
    cursor: pointer;
}

/* center player elements */
footer .footer-container .center-player{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
footer .footer-container .center-player .player-command{
    display: flex;
    align-items: center;
    gap: 15px;
}
footer .footer-container .center-player .player-command svg{
    height: 15px;
    width: 15px;
}
footer .footer-container .center-player .player-command svg:hover{
    cursor: pointer;
    fill: #ADFF2E;
}

footer .footer-container .center-player .player-command svg.play-icon{
    height: 25px;
    width: 25px;
}
footer .footer-container .center-player .player-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    min-width: 70%;
}

.music-bar{
    width: 100%;
    height: 5px;
    background-color: #595959ff;
    cursor: pointer;
    border-radius: 40px;
}
.ligther-music-bar{
    background-color: #c2c2c2ff;
    height: 100%;
    width: 25%;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music-bar:hover .ligther-music-bar{
    background-color: #ADFF2E;
    
}

.music-bar:hover .music-circle{
    display: block;
}

.music-circle{
    display: none;
    width: 10px;
    aspect-ratio: 1;
    background-color: #c2c2c2ff;

    border-radius: 50%;
}




/* right player elements */
footer .footer-container .right-player{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:10px;
}


footer .footer-container .right-player svg{
    height: 15px;
    width: 15px;
}

footer .footer-container .right-player svg:hover{
    cursor: pointer;
    fill: gray;
}

footer .footer-container .right-player .right-player-icons{
    display: flex;
    gap: 20px;
}
footer .footer-container .right-player .music-bar{
    max-width: 130px;
}

/* ------------------------------------------------------------------ */

/* media query */

/* small = min 576px */
@media screen and (min-width: 576px) {

    aside ul li,
    aside ul li a,
    aside span{
        color: gray;
    }

    aside svg.block{
        display: none;
    }
    .hide{
        display: block;
        font-weight: bold;
        font-size: 0.8rem;
    }

    aside div.playlist,
    aside .playlist-names{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    aside .playlist-names{
        align-items: flex-start;
        gap: 20px;

        width: 100%;
        max-height: 250px;
        overflow-y: scroll;
    }


    aside div.playlist h5{
        color: white;
        font-size: 0.8rem;
    }
    .playlist-text{
        font-size: 0.9rem;
    }
    aside div.playlist .create-playlist{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .create-playlist:hover .plus{
        background-color: white;
    }
    .create-playlist:hover .playlist-text,
    .create-playlist:hover{
        cursor: pointer;
        color: white;
    }

    .playlist-names li:hover{
        color: white;
        cursor: pointer;
    }


    .plus{
        width: 40px;
        font-size: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1;
        font-weight: bold;
        background-color: gray;
        color: black;
    }

    
    aside svg.hide{
        display: block;
        width: 120px;
        margin-right: 70px;
        margin-bottom: 20px;
    }

    aside > div ul.utility-element,
    aside > div ul.bottom-elements,
    aside > div .playlist{
        align-items: flex-start;
        padding-left: 15px;
    }

    aside ul.utility-element{
        margin-block: 15px 25px;
    }
    
    aside > div ul li,
    aside a.install{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    aside .profile-name,
    aside ul li.home span.hide{
        color: white;
        font-weight: bold;
    }
    li.home{
        border-left: 3px solid #ADFF2E;
        padding-left: 26px;
        margin-left: -30px;

    }
    li.bottom-divisor{
        display: none;
    }
    .profile{
        border-top: 1px solid gray;
        padding-top: 10px;
        margin-top: 10px;
        width: 100%;
    }
    /* -------------------------------- */
    /* main elements */
    main{
        margin-left: 230px;
        height: calc(100vh - 81px);
        padding-bottom: 50px;
    }

    main .main-content .main-container{
        width: 90%;
        margin: 0 auto;
    }
    
    main .upgrade{
        right: 0;
        left: 235px;
    }
}

/* ---------------------------------------------------------------- */
/* md = min 768px */
@media screen and (min-width: 768px){
    aside{
        height: calc(100vh - 100px);
    }
    main{
        height: calc(100vh - 100px);
    }
    main .main-content .main-container{
        width: 96%;
    }
    main .flex-cards .card{
        width: calc((100% / 4) - (30px / 4));
    }

    main .flex-cards .card h3{
        font-size: 0.9rem;
    }
    footer .footer-container .center-player .player-command svg.play-icon{
        height: 40px;
        width: 40px;
    }
    footer .footer-container .center-player .player-command svg{
        height: 25px;
        width: 25px;
    }
    footer .footer-container .center-player .player-command{
        gap: 32px;
    }
    footer .footer-container .left-player{
        width: 25%;
        display: flex;
        gap: 20px;
    }
    footer .footer-container .left-player .current-song-img img{
        width: 60px;
    
    }
    footer .footer-container .left-player .song-name{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    footer .footer-container .left-player .left-player-icons{
        display: flex;
        gap: 10px;
    }
    footer .footer-container .center-player .player-info{
        font-size: 1.1rem;
        gap: 10px;
    }
}

/* ---------------------------------------------------------------- */
/* md = min 1100px */
@media screen and (min-width: 1100px){
    main .flex-cards .card{
        width: calc((100% / 6) - (50px / 6));

    }

    main nav ul{
        gap: 40px;
    }

    footer .footer-container .right-player{
        flex-direction: row;
    }
    footer .footer-container .right-player .right-player-icons{
        gap: 10px;
    }
    footer .footer-container .right-player input{
        max-width: 70%;
    }
}